Visio_Controller.json
{
  "name": "Visio-Controller",
  "nodes": [
    {
      "parameters": {
        "url": "http://127.0.0.1:11434/v1/models",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "72e08845-083d-43c5-bca9-dbbfffa23d3c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the models from the HTTP request response (assuming they are inside \"data\")\nconst models = $input.first().json.data.map(model => model.id);\n\n// Return the models in a structured response\nreturn [\n  {\n    json: {\n      status: 'Success',\n      availableModels: models\n    }\n  }\n];\n"
      },
      "id": "bebb737d-e62d-41bd-9d08-7a2ae7586b7f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.availableModels }}",
        "options": {}
      },
      "id": "a6ec9286-dc18-42cb-ae7e-839f141dd408",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        340
      ]
    },
    {
      "parameters": {
        "content": "## Connection and Ollama\n** Connects via Webhook, and connects to API\n** List models back to AIChatPane",
        "height": 300,
        "width": 956
      },
      "id": "3055a23b-bc47-4c16-9d97-2af5c7cd1ca7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/connection_model_list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "96f78e44-e68b-4d8f-ada5-9076fac02271",
      "name": "API_Connection_model_visio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        600,
        340
      ],
      "webhookId": "52989a61-80e0-4499-bc5d-b1e822792bad"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "9168a5ef-e106-4349-b8d3-3926e6c70905",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        880,
        920
      ],
      "credentials": {
        "ollamaApi": {
          "id": "OuW1SzikhVbQMEOL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1b9a92b-5915-433c-9dae-5c2d59721f2e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        600,
        900
      ],
      "webhookId": "fbf6ebb8-5f01-46e5-90f3-52d841026b4c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3e257041-367b-40b7-96ea-08619a5e70f0",
      "name": "Chat_visio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        600,
        680
      ],
      "webhookId": "52989a61-80e0-4499-bc5d-b1e822792bad"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### System:\nYou are an assistant helping with tasks and answering questions.\n\n### User:\n{{ $json.chatInput || $json.body.message }}\n\n### Assistant:\n",
        "messages": {
          "messageValues": [
            {
              "message": "{{ $json.body.message || $json.chatInput || $json.body }}"
            }
          ]
        }
      },
      "id": "d329045a-1cbd-4fef-abe6-c2f2eff33451",
      "name": "Chat LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        900,
        680
      ],
      "typeVersion": 1.4,
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $json.text }}\"\n}\n",
        "options": {}
      },
      "id": "506dea1c-405f-4246-ae60-60c3e47714ee",
      "name": "Respond to chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        680
      ],
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API_Connection_model_visio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_visio": {
      "main": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72693a28-2745-40d9-bfe8-37019b405ef8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8617a31e3f06210fe687111ab485791c35eb905eedc1db78b92cdc917ac4621b"
  },
  "id": "6ZnbuWSt6YXYvUmA",
  "tags": []
}